<html>
  <head>
    <title>KingsongHome</title>
  </head>
  <div align = "right">
    <a href="home">home</a>
    <a href="kingsong1">kingsong1</a>
    <a href="kingsong2">kingsong2</a>
    <a href="kingsong3">kingsong3</a>
  </div>
    <body bgcolor = "#FFFF99">
        <center>
            <h1>KingSongPage</h1>
            <CENTER><IMG SRC="http://www.bloggang.com/data/mambyrose/picture/1476854612.jpg" alter = "เพลงพระราชนิพนธ์" border = 0></CENTER><br>
<font face = "MS Sans Serif" size = -1>

<DD>พระบาทสมเด็จพระเจ้าอยู่หัวภูมิพลอดุลยเดชฯ  ทรงเป็นพระมหากษัตริย์ที่เคารพรักและเทิดทูนของปวงชนชาวไทย เช่นเดียวกับพระมหาบูรพกษัตริย์ทุกพระองค์ แห่งราชวงศ์จักรีที่ปกครองประเทศชาติให้ผ่านพ้นผองภัย
นานาประการมากว่า 200 ปี ในช่วงปีพุทธศักราช 2503 บรรดาประเทศเพื่อนบ้านใกล้เรือนเคียงของเรา มีปัญหาการปกครองภายในเปลี่ยนแปลงเข้าสู่
ลัทธิการเมืองใหม่ที่นำมาซึ่งความขัดแย้งรุนแรง แต่ไทยเรารอดปลอดภัยมาได้เพราะพระองค์เป็นศูนย์รวมจิตใจของคนไทยทุกคน โครงการงานในพระราชดำริมากมายที่พระองค์ทรงริเริ่ม ได้สร้างประโยชน์สุขให้แก่พสกนิกร
ทั่วราชอาณาจักร เป็นที่เลื่อมใสศรัทธาของนานาประเทศ ถึงกับมีผู้กล่าวไว้ว่า พระองค์ทรงเป็นพระมหากษัตริย์ที่ทรงแต่งานเป็นกิจวัตรหลัก
เป็นที่น่าพิศวงยิ่งนัก แม้พระองค์จะทรงมีภารกิจต่างๆ มากมาย แต่พระองค์ก็ยังทรงมีเวลาสร้างสรรค์พระราชนิพนธ์ทางดนตรี ที่มีความไพเราะไว้มาก ซึ่งยังติดตรึงใจปวงชนชาวไทยตลอดมา
<P>
<table>
<tr>
<td valign = top><font face = "MS Sans Serif" size = -1>
<DD>๑. <A HREF= "candle.html" >แสงเทียน (Candlelight Blues)</A>
<dd>๒. <a href = "love_at_sundown.html">ยามเย็น (Love At Sundown)</a>
<dd>๓. <a href = "falling_rain.html">สายฝน (Falling Rain)</a>
<dd>๔. <a href = "near_dawn.html">ใกล้รุ่ง (Near Dawn)</a>
<dd>๕. <a href = "hm_blues.html">ชะตาชีวิต (H.M. Blues)</a>
<dd>๖. <a href = "never_mind.html">ดวงใจกับความรัก (Never Mind the H.M. Blues)</a>
<dd>๗. <a href = "royal_guard.html">มาร์ชราชวัลลภ (Royal Guards March)</a>
<dd>๘. <a href = "blue_day.html">อาทิตย์อับแสง (Blue Day)</a>
<dd>๙. <a href = "dream_of_love.html">เทวาพาคู่ฝัน (Dream Of Love Dream of You)</a>
<dd>๑๐. <a href = "sweet_word.html">คำหวาน (Sweet Words)</a>
<dd>๑๑. <a href = "chula.html">มหาจุฬาลงกรณ์</a>
<dd>๑๒. <a href = "lovelight_in_my_heart.html">แก้วตาขวัญใจ (Lovelight in My Heart)</a>
<dd>๑๓. <a href = "newyear.html">พรปีใหม่</a>
<dd>๑๔. <a href = "love_over_again.html">รักคืนเรือน (Love Over Again)</a>
<dd>๑๕. <a href = "twilight.html">ยามค่ำ (Twilight)</a>
<dd>๑๖. <a href = "smiles.html">ยิ้มสู้ (Smiles)</a>
<dd>๑๗. <a href = "tongchai.html">มาร์ชธงไชยเฉลิมพล</a>
<dd>๑๘. <a href = "i_never_dream.html">เมื่อโสมส่อง (I Never Dream) </a>
<dd>๑๙. <a href = "love_in_spring.html">ลมหนาว (Love in Spring)</a>
<dd>๒๐. <a href = "friday_night_rag.html">ศุกร์สัญลักษณ์ (Friday Night Rag)</a>
<dd>๒๑. <a href = "oh_i_say.html">Oh I say</a>
<dd>๒๒. <a href = "cant_you_ever_see.html">Can't You Ever See</a>
<dd>๒๓. <a href = "lay_dram_goes.html">Lay Kram Goes Dixie</a>

<td valign = top><font face = "MS Sans Serif" size = -1>
<dd>๒๔. <a href = "lullaby.html">ค่ำแล้ว (Lullaby)</a>
<dd>๒๕. <a href = "i_think_of_you.html">สายลม (I Think of You)</a>
<dd>๒๖. <a href = "when.html">ไกลกังวล (When)</a>
<dd>๒๗. <a href = "magic_beams.html">แสงเดือน (Magic Beams)</a>
<dd>๒๘. <a href = "somewhere.html">ฝัน (Somewhere Somehow)</a>
<dd>๒๙. <a href = "navic.html">มาร์ชราชนาวิกโยธิน</a>
<dd>๓๐. <a href = "a_love_story.html">ภิรมย์รัก (A Love Story)</a>
<dd>๓๑. <a href = "alexandra.html">แผ่นดินของเรา (Alexandra)</a>
<dd>๓๒. <a href = "mahamongkol.html">พระมหามงคล</a>
<dd>๓๓. <a href = "yungtong.html">ยูงทอง</a>
<dd>๓๔. <a href = "still_on_my_mind.html">ในดวงใจนิรันดร์ (Still on My Mind)</a>
<dd>๓๕. <a href = "old_fashioned_melody.html">เตือนใจ (Old Fashioned Melody)</a>
<dd>๓๖. <a href = "no_moon.html">ไร้เดือน (No Moon)</a>
<dd>๓๗. <a href = "dream_island.html">เกาะในฝัน (Dream Island)</a>
<dd>๓๘. <a href = "echo.html">แว่ว (ECHO)</a>
<dd>๓๙. <a href = "kasetsart.html">เกษตรศาสตร์</a>
<dd>๔๐. <a href = "hight_dream.html">ความฝันอังสูงสุด</a>
<dd>๔๑. <a href = "rao_soo.html">เราสู้</a>
<dd>๔๒. <a href = "rao_21.html">เรา-เหล่าราบ ๒๑</a>
<dd>๔๓. <a href = "blues_for_uthit.html">BLUES FOR UTHIT</a>
<dd>๔๔. <a href = "love.html">รัก</a>
<dd>๔๕. <a href = "egg.html">เมนูไข่</a>
</table>

</BODY>
        </center>
    </body>
</html>

<!-- <p>Find me in app/views/static_pages/home.html.erb</p> -->
