<html>
    <head>KingSong1
    <title>Kingsong1</title>
    </head>
<div align = "right">
    <a href="home">home</a>
    <a href="kingsong1">kingsong1</a>
    <a href="kingsong2">kingsong2</a>
    <a href="kingsong3">kingsong3</a>
  </div>

  <body bgcolor = "#FFFF99">
<font face = "MS Sans Serif">

</font>

<TABLE width = 100%>
                                                                             
<TR>
         <TD valign = top width = 50%>
<img src = https://web.ku.ac.th/king72/2530/image/candle_thai.jpg alt = แสงเทียน></CENTER><P>
<font face = "MS Sans Serif" size = -1>
<dd>จุดเทียนบวงสรวงปวงเทพเจ้า<br>
สวดมนต์ค่ำเช้าถึงคราวระทมทน<br>
โอ้ชีวิตหนอล้วนรอความตายทุกคน<br>
หลีกไปไม่พ้นทุกข์ทนอาทรร้อนใจ<br>
ต่างคนเกิดแล้วตายไป<br>
ชดใช้เวรกรรมจากจร<br>
<dd>นิจจังสังขารนั้นไม่เที่ยงเสี่ยงบุญกรรม<br>
ทุกคนเคยทำกรรมไว้ก่อน<br>
เชิญปวงเทวดาข้าไหว้วอน<br>
ขอพรคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
หนีปวงโรคาที่เบียดเบียน<br>
แสงแววชีวาเปรียบแสงเทียน<br>
<dd>เปรียบเทียนสิ้นแสงยามแรงลมเป่า<br>
ชีพดับอับเฉาเหมือนเงาไร้ดวงเทียน<br>
จุดเทียนถวายหมายบนบูชาร้องเรียน<br>
โรคภัยเบียดเบียนแสงเทียนทานลมพัดโบย<br>
โรครุมเร่าร้อนแรงโรย<br>
หวนโหยอาวรณ์อ่อนใจ<br>
<dd>ทำบุญทำทานกันไว้เถิดเกิดเป็นคน<br>
ไว้เตรียมผจญชีวิตใหม่<br>
เคยทำบุญทำคุณปางก่อนใด<br>
ขอบุญคุ้มไปชีวิตหน้า<br>
ทนทรมานมามากแล้วจะกราบลา<br>
แสงเทียนบูชาจะดับพลัน<br>
แสงเทียนบูชาดับลับไป<br>

<TD valign = top>
<!center><img src = https://web.ku.ac.th/king72/2530/image/candle_eng.jpg alt = "candlelight blues"></CENTER>
<P>
<font face = "MS Sans Serif" size = -1>
The candlelight is shining low,<br>
My only love, I'm missing you so.<br>
I know I've lost but still I dream of you.<br><br>
I'll hope and dream till all my dream come true.<br>
Just by the candlelight<br>
You used to hold me tight.<br><br>
This candlelight reminds me so of you,<br>
By candlelight you kissed me.<br>
  Still the candle's burning for two,<br>
  But darling, where can you be?<br><br>
  Come back, my love, <br>
  if you're feeling this blue<br>
  By candlelight you'll meet me<br>
  But darling where can you be?<br>
    <img src = https://web.ku.ac.th/king72/2530/image/cand.jpg border = 0><BR>
  
</TABLE>
<CENTER><img src = https://web.ku.ac.th/king72/2530/line.gif border = 0></CENTER><P>

<font face = "MS Sans Serif" size = -1>
  <dd>เพลง<wbr>พระ<wbr>ราช<wbr>นิพนธ์<wbr>เพลง<wbr>แรก ทรง<wbr>พระ<wbr>ราช<wbr>นิพนธ์<wbr>เมื่อ<wbr>เดือน<wbr>เมษายน
  พ.ศ.<wbr>2498 ครั้ง<wbr>ดำรง<wbr>พระ<wbr>ราช<wbr>อิสริยยศ<wbr>เป็น สมเด็จ<wbr>พระ<wbr>อนุชา<wbr>ธิ<wbr>ราช<wbr>ได้<wbr>ทรง<wbr>พระ<wbr>กรุณา
  โปรด<wbr>เก<wbr>ล้าฯ ให้<wbr>พระ<wbr>เจ้า<wbr>วร<wbr>วงศ์<wbr>เธอ พระองค์<wbr>เจ้า<wbr>จักร<wbr>พันธ์<wbr>เพ็ญ<wbr>ศิ<wbr>ริ
  (ขณะ<wbr>ดำรง<wbr>พระ<wbr>ยศ<wbr>เป็น<wbr>หม่อมเจ้า<wbr>จักร<wbr>พันธ์<wbr>เพ็ญ<wbr>ศิ<wbr>ริ จักร<wbr>พันธ์<wbr>)
  นิพนธ์<wbr>คำ<wbr>ร้อง<wbr>ภาษา<wbr>ไทย แต่<wbr>เนื่อง<wbr>จาก<wbr>มี<wbr>พระ<wbr>ราช<wbr>ประสงค์<wbr>ที่<wbr>จะ<wbr>ทรง<wbr>แก้<wbr>ไข<wbr>ทำนอง<wbr>และ<wbr>คอร์ด<wbr>บาง<wbr>ตอน
  จึง<wbr>ยัง<wbr>ไม่<wbr>โปรด<wbr>เก<wbr>ล้าฯ พระ<wbr>ราช<wbr>ทาน<wbr>ให้<wbr>นำ<wbr>ออก<wbr>มา<wbr>บรรเลง<wbr>ใน<wbr>เวลา<wbr>นั้น
  ต่อ<wbr>มา ได้<wbr>พระ<wbr>ราช<wbr>ทาน<wbr>ให้<wbr>นำ<wbr>ออก<wbr>บรรเลง<wbr>ครั้ง<wbr>แรก พ.ศ.<wbr>2490 และ<wbr>ใน
  พ.ศ.<wbr>2496 นาง<wbr>สาว<wbr>สดใส วา<wbr>นิช<wbr>วัฒนา (รอง<wbr>ศาสตราจารย์<wbr>สด<wbr>ใด
  พัน<wbr>ธุม<wbr>โก<wbr>มล<wbr>) ประพันธ์<wbr>คำ<wbr>ร้อง<wbr>ภาษา<wbr>อังกฤษ

<P>



<!--<CENTER><EMBED SRC="midi/candle.mid" LOOP=infinity WIDTH="145" HEIGHT="60" AUTOSTART=true VOLUME="60"></CENTER>-->



  </body>

</html>
<!--<p>Find me in app/views/static_pages/kingsong1.html.erb</p>-->
