<html>
    <head>
        Kingsong2<title>Kingsong2</title>
    </head>
    <div align = "right">
    <a href="home">home</a>
    <a href="kingsong1">kingsong1</a>
    <a href="kingsong2">kingsong2</a>
    <a href="kingsong3">kingsong3</a>
  </div>
    <body bgcolor = "#FFFF99">
<font face = "MS Sans Serif">
</font>
<TABLE width = 100%>                                                                           
<TR>
         <TD valign = top width = 50%>
<!CENTER><img src = https://web.ku.ac.th/king72/2530/image/love_at_sundown_thai.jpg alt = "ยามเย็น"><P></CENTER>
<font face = "MS Sans Serif" size = -1>
<dd>แดดรอนรอน<br>			
เมื่อทินกรจะลับเหลี่ยมเมฆา<br>
ทอแสงเรืองอร่ามช่างงามตา<br>	
ในนภาสลับจับอัมพร<br>
<dd>แดดรอนรอน<br>			
เมื่อทินกรจะลาโลกไปไกล<br>
ยามนี้จำต้องพรากจากดวงใจ<br>	
ไกลแสนไกลสุดห่วงยอดดวงตา<br>
<dd>แต่ก่อนเคยคลอเคลียกัน<br>		
ทุกวันคืนรื่นอุรา<br>
<dd>ต้องอยู่เดียวเปลี่ยนวิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
<dd>แดดรอนรอน		<br>	
หากทินกรจะลาโลกไปไกล<br>
ความรักเราคงอยู่คู่กันไป		<br>
ในหัวใจคงอยู่คู่เชยชม<br>
<dd>แดดรอนรอน		<br>	
หมู่มวลภมรบินลอยล่องตามลม<br>
คลอเคล้าพฤกษาชาติชื่นเชยชม	<br>
ชมสมตามอารมณ์ล่องเลยไป<br>
<dd>ลิ่วลมโชย			<br>
กลิ่นพรรณไม้โปรยโรยร่วงห่วงอาลัย<br>
ยามสายัณห์พลันพรากจากดวงใจ <br>
คอยแสงทองวันใหม่กลับคืนมา<br>
<dd>แต่ก่อนเคยคลอเคลียกัน<br>		
ทุกวันคืนชื่นอุรา<br>
<dd>ต้องอยู่เดียวเปลี่ยววิญญาณ์	<br>
เหมือนดังนภาไร้ทินกร<br>
<dd>โอ้ยามเย็น			<br>
จวบยามนี้เป็นเวลาสุดอาวรณ์<br>
ยามไร้ความสว่างห่างทินกร	<br>
ยามรักจำจะจรจากกันไป<br>
         <TD valign = top>
<!CENTER><img src = https://web.ku.ac.th/king72/2530/image/love_at_sundown_eng.jpg alt = "LOVE AT SUNDOWN" border = 0><P></CENTER>
<font face = "MS Sans Serif" size = -1>
<dd>
'Tis sundown.<br>
The golden sunlight tints the bule sea.<br>
Paints the hill and gilds the palm tree,<br>
Happy be, my love, at sundown.<br>
<dd>'Tis sundown.<br>
The multi-coloured dancing sunbeam<br>
Brightly shines on in my heart's dream<br>
Of the one I love, at sundown.<br>
The birds come to their nest<br>
At peace, they bill and coo.<br>
The wide world sinks to rest,<br>
And so do I and so do you.<br>
<dd>'Tis sundown.<br>
In splendour sinks the sun, comes twilight,<br>
Day is done, now greets the cool night.<br>
Happy be, my love, at sundown.<P>

<img src = https://web.ku.ac.th/king72/2530/image/sundown.jpg border =0>
</TABLE>
<CENTER><img src = "https://web.ku.ac.th/king72/2530/line.gif" border =0></CENTER>
<P align="left"><font face = "MS Sans Serif" size = -1>
<dd>เพลงพระราชนิพนธ์ ยามเย็น เพลงพระราชนิพนธ์ลำดับที่ 2 ทรงพระราชนิพนธ์ ใน พ.ศ. 2489 ขณะยังทรงเป็นสมเด็จพระอนุชาธิราช เป็นงานทดลองของพระองค์ในจังหวะฟ็อกซ์ทร็อต ทรงพระกรุณาโปรดเกล้าฯ ให้พระเจ้าวรวงศ์เธอ พระองค์เจ้าจักรพันธ์เพ็ญศิริ นิพนธ์คำร้องภาษาไทย และท่านผู้หญิงนพคุณ ทองใหญ่ ณ อยุธยา แต่งคำร้องภาษาอังกฤษ แล้วพระราชทานเพลงพระราชนิพนธ์ที่มีคำต้องสมบูรณ์ให้นายเอื้อ สุนทรสนาน นำออกบรรเลงในงานของสมาคมปราบวัณโรค ณ เวทีลีลาศสวนอัมพร เมื่อวันเสาร์ที่ 4 พฤษภาคม พ.ศ. 2489 นับเป็นเพลงพระราชนิพนธ์เพลงแรกที่นำออกบรรเลงสู่ประชาชน เป็นเพลงที่ร่าเริงแจ่มใสเหมาะสำหรับการเต้นรำในสมัยนั้น</font>
<dd><p>
<center>
<!--<EMBED SRC= midi/love_at_sundown.mid  LOOP=infinity WIDTH="145" HEIGHT="60" AUTOSTART=true VOLUME="60">-->
</center>
</body>

</html>
<!--<p>Find me in app/views/static_pages/kingsong2.html.erb</p>-->
