<html>
    <head>
    KingSong3
        <title>Kingsong3</title>
    </head>
        <div align = "right">
    <a href="home">home</a>
    <a href="kingsong1">kingsong1</a>
    <a href="kingsong2">kingsong2</a>
    <a href="kingsong3">kingsong3</a>
  </div>
<BODY bgcolor = "#FFFF99">
<font face = "MS Sans Serif">

</font>

<TABLE width = 100%>
                                                                    
<TR>
         <TD valign = top>
<!CENTER><img src = "https://web.ku.ac.th/king72/2530/image/falling_rain_thai.jpg" alt = "สายฝน"></CENTER><P>

<font face = "MS Sans Serif" size = -1>
<dd>เมื่อลมฝนบนฟ้ามาลิ่ว<br>		
	ต้นไม้พลิ้วลู่กิ่งใบ<br>
เหมือนจะเอนรากคลอนถอนไป<br>
		แต่เหล่าไม้ยิ่งกลับงาม<br>
<dd>พระพรหมท่านบันดาลให้ฝนหลั่ง	<br>
	เพื่อประทังชีวิตมิทราม<br>
น้ำทิพย์สาดเป็นสายพรายพลิ้วทิวงาม<br>
	ทั่วเขตคามชุ่มธารา<br>
<dd>สาดเป็นสายพรายพลิ้วทิวทุ่ง	<br>
	แดดทอหรุ้งอร่ามตา<br>
รุ้งเลื่อมลายพร่างพรายนภา<br>
		ยามเมื่อฝนมาแต่ไกล<br>
<dd>พระพรหมช่วยอำนวยให้ชื่นฉ่ำ<br>
		เพื่อจะนำดับความร้อนใจ<br>
น้ำฝนหลั่งลงมาจากฟ้าแดนไกล	<br>
	พืชพรรณไม้ชื่นยืนยง<br>


         <TD valign = top><font face = "MS Sans Serif" size = -1>
<!CENTER><img src = https://web.ku.ac.th/king72/2530/image/falling_rain_eng.jpg alt = "Falling rain"></CENTER><P>

<dd>Rain winds sweep across the plain.<br>
Thunder rumbles on high. <br>
Lightening flashes; Bows the grain. <br>
Birds in fright nestward fly. <br>
But the rain pours down in blessing; <br>
Filled with cheer our hearts expand. <br>
As the woods with notes of pleasure ring, <br>
Sunlight streams o'er the land. <br>
<dd>Bright the rainbow comes in view. <br>
All the world's cool and clean. <br>
Angels' tears the flowers renew. <br>
Nature glistens in green. <br>
Rain beads sparkle in your hair, love. <br>
Rainbows glitter when you smile. <br>
Thus we soon forget the clouds above, <br>
Beauty so does beguile. <br>

</TABLE>
<CENTER><img src = https://web.ku.ac.th/king72/2530/image/rain.jpg border = 0></CENTER><P>

<CENTER><img src = "https://web.ku.ac.th/king72/2530/line.gif" border = 0></CENTER><BR>

<font face = "MS Sans Serif" size = -1>
<dd>เพลง<wbr>พระ<wbr>ราช<wbr>นิพนธ์<wbr>ลำ<wbr>ดับ<wbr>ที่ ๓  ทรง<wbr>พระ<wbr>ราช<wbr>นิพนธ์<wbr>ใน พ.ศ<wbr>. ๒๔๘๙  ขณะ<wbr>ทรง<wbr>เป็น<wbr>สมเด็จ<wbr>พระ<wbr>อนุชาธิราช ทรง<wbr>พระ<wbr>กรุณา<wbr>โปรด<wbr>เกล้าฯ ให้<wbr>พระ<wbr>เจ้าวรวงศ์<wbr>เธอ พระ<wbr>องค์<wbr>เจ้า<wbr>จักร<wbr>พันธ์<wbr>เพ็ญศิริ นิพนธ์<wbr>คำ<wbr>ร้อง<wbr>ภาษา<wbr>ไทย ส่วน<wbr>ภาษา<wbr>อังกฤษ พระ<wbr>เจ้าวรวงศ์<wbr>เธอ พระ<wbr>องค์<wbr>เจ้า<wbr>จักร<wbr>พันธ์<wbr>เพ็ญศิริ ทรง<wbr>แต่ง<wbr>ร่วมกับท่าน<wbr>ผู้<wbr>หญิง<wbr>นพ<wbr>คุณ ทอง<wbr>ใหญ่ ณ อยุธยา เพลง<wbr>พระ<wbr>ราช<wbr>นิพนธ์<wbr>สาย<wbr>ฝน<wbr>นี้ มี<wbr>ลีลา<wbr>นุ่ม<wbr>นวล<wbr>อ่อน<wbr>หวาน บรรเลง<wbr>ครั้ง<wbr>แรก<wbr>ใน<wbr>งาน<wbr>รื่น<wbr>เริง<wbr>ของ<wbr>สมาคม<wbr>ส่ง<wbr>เสริม<wbr>การ<wbr>เลี้ยง<wbr>ไก่<wbr>แห่งประเทศ<wbr>ไทย ณ เวที<wbr>ลีลาศ<wbr>สวน<wbr>อัมพร เมื่อ<wbr>วัน<wbr>อาทิตย์<wbr>ที่ ๒ มิถุนายน พ.ศ<wbr>. ๒๔๘๙  จึง<wbr>เป็น<wbr>เพลง<wbr>ยอด<wbr>นิยม<wbr>ของ<wbr>พสก<wbr>นิกร<wbr>ไทย<wbr>อีก<wbr>เพลง<wbr>หนึ่ง<wbr>จน<wbr>ถึง<wbr>ปัจจุบัน <p>
<center>
<!--<EMBED SRC= midi/falling_rain.mid LOOP=infinity WIDTH="145" HEIGHT="60" AUTOSTART=true VOLUME="60">-->


</center>
</BODY>

</html>



<!--<p>Find me in app/views/static_pages/kingsong3.html.erb</p>-->
